OnlineShop/OnlineShop/Connected Services/PayService/PayService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PayOnline">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expYear" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expMonth" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="cardHolderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cvcCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="purchaseSum" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PayOnlineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PayOnlineResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PayOnlineSoapIn">
    <wsdl:part name="parameters" element="tns:PayOnline" />
  </wsdl:message>
  <wsdl:message name="PayOnlineSoapOut">
    <wsdl:part name="parameters" element="tns:PayOnlineResponse" />
  </wsdl:message>
  <wsdl:portType name="PayServiceSoap">
    <wsdl:operation name="PayOnline">
      <wsdl:input message="tns:PayOnlineSoapIn" />
      <wsdl:output message="tns:PayOnlineSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PayServiceSoap" type="tns:PayServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PayOnline">
      <soap:operation soapAction="http://tempuri.org/PayOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PayServiceSoap12" type="tns:PayServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PayOnline">
      <soap12:operation soapAction="http://tempuri.org/PayOnline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PayService">
    <wsdl:port name="PayServiceSoap" binding="tns:PayServiceSoap">
      <soap:address location="http://localhost:49781/PayService.asmx" />
    </wsdl:port>
    <wsdl:port name="PayServiceSoap12" binding="tns:PayServiceSoap12">
      <soap12:address location="http://localhost:49781/PayService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>